<form #loginForm="ngForm" (ngSubmit)="onSumbit(loginForm)">
  <label
    >Email
    <input type="email" name="email" [(ngModel)]="email" required email #emailField="ngModel" />
    @if (emailField.invalid && emailField.touched) {
      @if (emailField.errors?.['required']) {
        <span>Email is required</span>
      }
      @if (emailField.errors?.['email']) {
        <span>Email is invalid</span>
      }
    }
  </label>

  <label
    >Password
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      maxlength="20"
      minlength="8"
      #passwordField="ngModel"
    />
    @if (passwordField.invalid && passwordField.touched) {
      <span>min 8 char</span>
    }
  </label>

  <button type="submit" [disabled]="loginForm.invalid">login</button>
</form>
